include /mixins/forms.pug

doctype html
html(lang="en")
  head
    title TaskManager 
      = Title
    link(rel='stylesheet' href='/assets/style.css')
    script(src='/assets/main.js')
  body.bg-light
    nav.navbar.navbar-expand-md.navbar-light.bg-white.shadow-sm
      .container
        a.navbar-brand(href="/") Task Manager
        button.navbar-toggler(data-toggle="collapse" data-target="#navbarSupportedContent")
          span.navbar-toggler-icon
        .collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href=urlFor('users')) Пользователи
          ul.navbar-nav
            if isSignedIn()
              li.nav-item
                a.nav-link(href=urlFor('session') data-method='delete' rel='nofollow') Выйти
            else
              li.nav-item
                a.nav-link(href=urlFor('newSession')) Вход
              li.nav-item
                a.nav-link(href=urlFor('newUser')) Регистрация
    .container.pt-3
      - const msg = flash.get()
      if msg
        .alert.alert-dismissible.fade.show(class=`alert-${msg.type}`)
          = msg.text
          button.close(type='button' data-dismiss='alert' area-label='Close')
            span(area-hidden='true') &times;
      block content
