extends /layouts/application.pug

block define
  - const section = 'tasks';
  - const pageTitle = 'Просмотр задания';
  - const defaultCol = { label: 'col-3', input: 'col-9' };

block content
  //- параметры
  //-   task
  //-   access
  div.row.justify-content-center
    div.col-xl-8.col-lg-9.col-md-12.col-sm-12

      +title('Задание','col-2 pl-0', referFor('showTask'))
        span.ml-4
          if access.edit
            +buttonEdit(urlFor('editTask', task.id), true)
          if access.delete
            +buttonDelete(urlFor('deleteTask', task.id), 'задание')

      .card.card-body.shadow-sm
        .form-group.row
          +inputText(task.name, 'Что сделать', { inputClass: 'font-weight-bold' })
        .form-group.row
          +inputText(task.dateTo, 'Срок', { col: { label: 'col-3', input: 'col-3' } })

          label.col-form-label.text-muted(class= 'col-2') Статус
          .input-group(class= 'col-4')
            .form-control.form-control-plaintext.border-bottom(class=`state-${task.status.color}`)= task.status.name
            if access.status 
              .input-group-append
                form(action= urlFor('statusTask', task.id) method='post')
                  input(name='_method' type='hidden' value='patch')
                  input(name='statusId' type='hidden' value=task.nextStatus.id)
                  button.btn.btn-outline-primary(type='submit')= task.nextStatus.action

        .form-group.row
          +textareaText(task.description, 'Описание')
        .form-group.row
          +inputText(task.executorName, 'Исполнитель')
        .form-group.row
          +inputText(task.authorName, 'Автор')
        .form-group.row
          // +inputText('', 'Теги')
          label.col-form-label.text-muted(class= defaultCol.label) Теги
          div(class= defaultCol.input)
            each tag in task.Tags
              .btn.btn-sm.badge-pill.badge-gray.pt-0.pb-0.mr-1.mt-1(data-tag= tag.id)
                = tag.name

      if task.Attachments.length > 0 || access.attach
        .row.pt-3
          .col-3
            h5.pl-4 Файлы
          .col-9
            div(id='attachments')
              each attach in task.Attachments
                div.pl-4.pb-2.d-flex.justify-content-between.border-bottom
                  span.pt-1
                    big.text-muted.pr-2
                      i.far(class=(`fa-file-${attach.type}`))
                    a(href=attach.fileUrl)= attach.originalName
                    small.pl-3.text-muted= attach.size
                  if userId() === attach.userId
                    +buttonDelete(urlFor('deleteTaskAttachment', task.id, attach.id), 'прикрепленный файл')
            if access.attach
              +fileupload('attachments', urlFor('saveTaskAttachment', task.id))
      .row
        .col
          h5.pt-3.pl-4 Комментарии

  +confirmDelete()

