extends /layouts/application.pug

block define
  - const pageTitle = 'Главная страница';

block content
  +title('Менеджер задач')
  p Демо веб-приложение разработано на 
    a(href='https://nodejs.org' target='_blank' rel='noopener') Node
    span.text-success.pl-1
      i.fab.fa-node-js
    span , 
    a(href='https://koajs.com' target='_blank' rel='noopener') Koa
    span , 
    a(href='https://getbootstrap.com' target='_blank' rel='noopener') Bootstrap 4
    span , 
    a(href='https://docs.sequelize.com' target='_blank' rel='noopener') Sequelize
    span .

  if isSignedIn()
    //- span Добро пожаловать, 
    //- b.pl-1= userName()
    //- span !
    .card-deck.pb-3
      .card.shadow-sm 

        .card-body
          h5 Мои задания
          ul.mb-0
            each filter in taskInfo.filters
              li
                a(href=`${urlFor('tasks')}${filter.link}` style="display: inline-block; min-width:120px;")= filter.name
                  - const status = filter.amount > 0 ? filter.status : 'none';
                span.badge.ml-2(class=`badge-${status}`)= filter.amount

      .card.shadow-sm
        //- .card-body
        div.d-none(id='chartInfo')= JSON.stringify(chartInfo)
        div.diagram(id='chartContainer' data-target='chartInfo' style='max-height:220px;')
          .text-muted.p-3 Загрузка..

      //-.card.shadow-sm
      //-  .card-body
      //-    h5 Статистика
      //-    ul.mb-0
      //-      li
      //-        a(href=urlFor('statistics')) Состояние исполнения
      //-      li.text-muted Исполнительская дисциплина

      .card(style='background: transparent; border: 0px;')
        .Calendar(data-source=urlFor('taskDaily.json'))
          //- .text-muted Загрузка..
        .card.shadow-sm(style="position: absolute; top: 235px; width: 273px; padding: 10px; margin-left: 0px; ") 
          div(id="dateTaskList")
            a(href='#') Список заданий
          div(id="dateTaskEmpty")


  else
    p.p-2.pl-3.rounded-lg.bg-white.border.shadow-sm.col-xl-8.col-lg-10.animation-slide-down.collapse
      a(href=urlFor('newUser')) Зарегистрируйтесь
      span , чтобы потыкать на все кнопки, иначе большая часть будет не видна.
      br
      span Никаких рассылок, e-mail используется в качестве логина (можно использовать любой).

  p Реализованы следующие функции:
    - const muted = isSignedIn() ? '' : 'text-muted';

    ul
      li
        b пользователи
        ul.list-dash
          li просмотр пользователей
          li регистрация новых пользователей
          li изменение и удаление (своего) пользователя 
          //- i.fas.fa-lock
      li
        b задания
        ul.list-dash
          li просмотр и поиск заданий
          li добавление заданий
          li изменение и удаление заданий (автор)
          li обновление статуса заданий (исполнитель)
          li прикрепление файлов к заданию
          //- li добавление комментариев
          //- li уведомления (задание назначено, исполнено)
          //- li просмотр истории изменений
          li статистика
      li
        b общее
        ul.list-dash
          //- li REST
          li аутентификация и авторизация
          li валидация значений в формах ввода

