include /mixins/header.pug
include /mixins/forms.pug
include /mixins/pagination.pug

doctype html
html.h-100(lang="ru")
  head
    block define
    title= `TaskManager / ${pageTitle}`
    link(rel='shortcut icon' href='/favicon.ico')
    link(rel='stylesheet' href='/assets/1.style.css')
    link(rel='stylesheet' href='/assets/style.css')
  body.bg-light.d-flex.flex-column.h-100
    nav.navbar.navbar-expand-md.navbar-light.bg-white.shadow-sm
      .container
        a.navbar-brand(href="/")
          b.text-muted Task
          span Manager
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' area-expanded='false')
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarSupportedContent
          ul.navbar-nav.mr-auto
            li.nav-item(class= (section === 'tasks' ? 'active' : ''))
              a.nav-link(href=urlFor('tasks')) Задания
            li.nav-item(class= (section === 'statistics' ? 'active' : ''))
              a.nav-link(href=urlFor('statistics')) Статистика
            li.nav-item(class= (section === 'users' ? 'active' : ''))
              a.nav-link(href=urlFor('users')) Пользователи
          ul.navbar-nav
            if isSignedIn()
              //- li.nav-item
              //-   a.nav-link(href='#')
              //-     i.far.fa-bell
              li.nav-item
                a.nav-link(href='#')
                  i.fas.fa-user
                  span.pl-1= userName()
              li.nav-item
                a.nav-link(href=urlFor('session') data-method='delete' rel='nofollow' data-toggle='tooltip' title='Выйти' data-placement='bottom')
                  i.fas.fa-sign-out-alt
            else
              li.nav-item
                a.btn.btn-outline-primary.btn-sm(href=urlFor('newSession')) Вход
              li.nav-item
                a.btn.btn-link.btn-sm(href=urlFor('newUser')) Регистрация
    .container.pt-3
      //- +flashMessage()
      +toastMessage()
      block content

    footer.footer.mt-auto.py-4.bg-white
      .container.text-center.text-muted
        .row.justify-content-center(style='font-size:80%')
          .col &copy; 2019 
            a.footer-link(href='' rel='noopener') Кирютин Эдуард
          .col
            a.footer-link(href='https://github.com/ekiryutin/project-lvl4-s383' target='_blank' rel='noopener')
              span(style='font-size:120%') 
                i.fab.fa-github
              span.pl-1 github.com
          .col
            a.footer-link(href='https://ru.hexlet.io/u/kiryutin' target='_blank' rel='noopener')
              span(style='font-size:120%') 
                i.far.fa-thumbs-up
              span.pl-1 hexlet.io

    script(src='/assets/vendors.js')
    script(src='/assets/main.js')

